# =========================
# Python Bytecode
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/
ENV/
**/.venv/
**/venv/
**/env/
**/ENV/

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor files
# =========================
.DS_Store
.idea/
.vscode/
*.swp

# =========================
# uv / Python tooling
# =========================
.python-version
