name: GitHub Actions CI/CD pipeline

on: 
    push:
      branches:
        - main
    pull_request:
      branches:
        - main
    workflow_dispatch:

env:
    TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
    TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
    PROJECT_SUB_DIR: web_Scraper

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: Install UV
      uses:  astral-sh/setup-uv@v7
      with:
          uv-version: 'latest'

    - name: Install dependencies
      run: uv sync
      working-directory: ${{ env.PROJECT_SUB_DIR }}

    - name: Deploy
      env: 
        BUILD_NUMBER: ${{ github.run_number }}
      run: |
        chmod +x scripts/deploy.sh
        ./scripts/deploy.sh deploy $BUILD_NUMBER
      working-directory: ${{ env.PROJECT_SUB_DIR }}

    - name: Run the scraper
      run: |
        uv run main.py
      working-directory: ${{ env.PROJECT_SUB_DIR }}